
<h2 class='call-scope'>Container Calls</h2>

<h3 class='call-group-header-body' id='container_app_manifest'>App Manifest</h3>
<div class='call-group-body'>
<ul class='call-body' id='get_app_manifest'>
<li>URI: <code> GET/apps/{descriptor}/manifest </code></li>
<li>Client method name: <code> get_app_manifest </code></li>
</ul>
<p> Returns a JSON SMART UI app manifest for the app matching {descriptor}, or 404.  Note that {descriptor} can be an app ID like &quot;got-statins </p>

<ul class='call-body' id='get_app_manifests'>
<li>URI: <code> GET/apps/manifests/ </code></li>
<li>Client method name: <code> get_app_manifests </code></li>
</ul>
<p> Returns a JSON list of all SMART UI app manifests installed on the container. </p>

<p><a href='/framework/models/#App_Manifest'>App Manifest data model</a></p>


</div>
<h3 class='call-group-header-body' id='container_containermanifest'>ContainerManifest</h3>
<div class='call-group-body'>
<ul class='call-body' id='get_container_manifest'>
<li>URI: <code> GET/manifest </code></li>
<li>Client method name: <code> get_container_manifest </code></li>
</ul>
<p> Get manifest for a container </p>

<p><a href='/framework/models/#ContainerManifest'>ContainerManifest data model</a></p>


</div>
<h3 class='call-group-header-body' id='container_demographics'>Demographics</h3>
<div class='call-group-body'>
<ul class='call-body' id='search_records'>
<li>URI: <code> GET/records/search </code></li>
<li>Client method name: <code> search_records </code></li>
</ul>
<p> Get an RDF graph of sp:Demographics elements for all patients that match the query.  Matching treats family_name and given_name as the *beginning* of a name.  For instance given_name='J' matches /^J/i and thus matchs 'Josh'. Date of birth is an ISO8601 string like &quot;2008-03-21&quot;; gender is &quot;male&quot; or &quot;female&quot;.  Gender, date_of_birth, zipcode, and medical_record_number must match exactly.
	</p>

<p><a href='/framework/models/#Demographics'>Demographics data model</a></p>


</div>
<h3 class='call-group-header-body' id='container_ontology'>Ontology</h3>
<div class='call-group-body'>
<ul class='call-body' id='get_ontology'>
<li>URI: <code> GET/ontology </code></li>
<li>Client method name: <code> get_ontology </code></li>
</ul>
<p> Get the ontology used by a SMART container </p>

<p><a href='/framework/models/#Ontology'>Ontology data model</a></p>


</div>
<h3 class='call-group-header-body' id='container_user'>User</h3>
<div class='call-group-body'>
<ul class='call-body' id='get_user'>
<li>URI: <code> GET/users/{user_id} </code></li>
<li>Client method name: <code> get_user </code></li>
</ul>
<p> Get a single user by ID </p>

<ul class='call-body' id='search_users'>
<li>URI: <code> GET/users/search </code></li>
<li>Client method name: <code> search_users </code></li>
</ul>
<p> Get users by name (or all users if blank) </p>

<p><a href='/framework/models/#User'>User data model</a></p>


</div>

<h2 class='call-scope'>Record Calls</h2>

<h3 class='call-group-header-body' id='record_allergy'>Allergy</h3>
<div class='call-group-body'>
<ul class='call-body' id='get_allergies'>
<li>URI: <code> GET/records/{record_id}/allergies/ </code></li>
<li>Client method name: <code> get_allergies </code></li>
</ul>
<p> Get all Allergies and Allergy Exclusions for a patient </p>

<ul class='call-body' id='get_allergy'>
<li>URI: <code> GET/records/{record_id}/allergies/{allergy_id} </code></li>
<li>Client method name: <code> get_allergy </code></li>
</ul>
<p> Get one Allergy for a patient </p>

<p><a href='/framework/models/#Allergy'>Allergy data model</a></p>


</div>
<h3 class='call-group-header-body' id='record_clinical_note'>Clinical Note</h3>
<div class='call-group-body'>
<ul class='call-body' id='get_clinical_notes'>
<li>URI: <code> GET/records/{record_id}/clinical_notes/ </code></li>
<li>Client method name: <code> get_clinical_notes </code></li>
</ul>
<p> Get all Clinical Notes for a patient </p>

<ul class='call-body' id='get_clinical_note'>
<li>URI: <code> GET/records/{record_id}/clinical_notes/{clinical_note_id} </code></li>
<li>Client method name: <code> get_clinical_note </code></li>
</ul>
<p> Get one Clinical Note for a patient </p>

<ul class='call-body' id='post_clinical_note'>
<li>URI: <code> POST/records/{record_id}/clinical_notes/ </code></li>
<li>Client method name: <code> post_clinical_note </code></li>
</ul>
<p> Post a Clinical Note for a patient. The body of the post should contain SMART RDF/XML serialization of the clinical note without the belongsTo predicate. The clinical note will be added to the collection of notes and the call will return a a copy of the posted data to indicate as successful posting. </p>

<p><a href='/framework/models/#Clinical_Note'>Clinical Note data model</a></p>


</div>
<h3 class='call-group-header-body' id='record_demographics'>Demographics</h3>
<div class='call-group-body'>
<ul class='call-body' id='get_demographics'>
<li>URI: <code> GET/records/{record_id}/demographics </code></li>
<li>Client method name: <code> get_demographics </code></li>
</ul>
<p> Get Demographics for a patient </p>

<p><a href='/framework/models/#Demographics'>Demographics data model</a></p>


</div>
<h3 class='call-group-header-body' id='record_document'>Document</h3>
<div class='call-group-body'>
<ul class='call-body' id='get_document'>
<li>URI: <code> GET/records/{record_id}/documents/{document_id} </code></li>
<li>Client method name: <code> get_document </code></li>
</ul>
<p> Allows a SMART app to request a single document. The optional `format` parameter sets the output format of the call. The possible values are `metadata`, `raw`, and `combined`. In `format=metadata` mode, the container returns metadata and desceriptors of the document in RDF-XML. In `format=combined` mode the call returns the serialized document content in addition to all the data from the `format=metadata` mode. In `format=raw` mode, SMART returns the raw document content with the proper MIME type. In the absence of a `format` parameter, the API defaults to `format=raw`. </p>

<ul class='call-body' id='get_documents'>
<li>URI: <code> GET/records/{record_id}/documents/ </code></li>
<li>Client method name: <code> get_documents </code></li>
</ul>
<p> Returns data about all the available documents for the patient record subject to the standard filter restrictions. The optional `format` parameter sets the output format of the call. The possible values are `metadata` and `combined`. In `format=metadata` mode, the container returns metadata and desceriptors of the documents in RDF-XML. In `format=combined` mode the call returns the serialized documents' content in addition to all the data from the `format=metadata` mode. In the absence of a `format` parameter, the API defaults to `format=metadata`. </p>

<p><a href='/framework/models/#Document'>Document data model</a></p>


</div>
<h3 class='call-group-header-body' id='record_encounter'>Encounter</h3>
<div class='call-group-body'>
<ul class='call-body' id='get_encounters'>
<li>URI: <code> GET/records/{record_id}/encounters/ </code></li>
<li>Client method name: <code> get_encounters </code></li>
</ul>
<p> Get all Encounters for a patient </p>

<ul class='call-body' id='get_encounter'>
<li>URI: <code> GET/records/{record_id}/encounters/{encounter_id} </code></li>
<li>Client method name: <code> get_encounter </code></li>
</ul>
<p> Get one Encounter for a patient </p>

<p><a href='/framework/models/#Encounter'>Encounter data model</a></p>


</div>
<h3 class='call-group-header-body' id='record_family_history_observation'>Family History Observation</h3>
<div class='call-group-body'>
<ul class='call-body' id='get_family_history_observations'>
<li>URI: <code> GET/records/{record_id}/family_history/ </code></li>
<li>Client method name: <code> get_family_history_observations </code></li>
</ul>
<p> Get all Family Histories for a patient </p>

<ul class='call-body' id='get_family_history_observation'>
<li>URI: <code> GET/records/{record_id}/family_history/{family_history_id} </code></li>
<li>Client method name: <code> get_family_history_observation </code></li>
</ul>
<p> Get one Family History for a patient </p>

<p><a href='/framework/models/#Family_History_Observation'>Family History Observation data model</a></p>


</div>
<h3 class='call-group-header-body' id='record_fulfillment'>Fulfillment</h3>
<div class='call-group-body'>
<ul class='call-body' id='get_fulfillments'>
<li>URI: <code> GET/records/{record_id}/fulfillments/ </code></li>
<li>Client method name: <code> get_fulfillments </code></li>
</ul>
<p> Get all Fulfillments for a patient </p>

<ul class='call-body' id='get_fulfillment'>
<li>URI: <code> GET/records/{record_id}/fulfillments/{fulfillment_id} </code></li>
<li>Client method name: <code> get_fulfillment </code></li>
</ul>
<p> Get one Fulfillment for a patient </p>

<p><a href='/framework/models/#Fulfillment'>Fulfillment data model</a></p>


</div>
<h3 class='call-group-header-body' id='record_immunization'>Immunization</h3>
<div class='call-group-body'>
<ul class='call-body' id='get_immunizations'>
<li>URI: <code> GET/records/{record_id}/immunizations/ </code></li>
<li>Client method name: <code> get_immunizations </code></li>
</ul>
<p> Get all Immunizations for a patient </p>

<ul class='call-body' id='get_immunization'>
<li>URI: <code> GET/records/{record_id}/immunizations/{immunization_id} </code></li>
<li>Client method name: <code> get_immunization </code></li>
</ul>
<p> Get one Immunization for a patient </p>

<p><a href='/framework/models/#Immunization'>Immunization data model</a></p>


</div>
<h3 class='call-group-header-body' id='record_lab_panel'>Lab Panel</h3>
<div class='call-group-body'>
<ul class='call-body' id='get_lab_panels'>
<li>URI: <code> GET/records/{record_id}/lab_panels/ </code></li>
<li>Client method name: <code> get_lab_panels </code></li>
</ul>
<p> Get all Lab Panels for a patient </p>

<ul class='call-body' id='get_lab_panel'>
<li>URI: <code> GET/records/{record_id}/lab_panels/ </code></li>
<li>Client method name: <code> get_lab_panel </code></li>
</ul>
<p> Get one Lab Panel for a patient </p>

<p><a href='/framework/models/#Lab_Panel'>Lab Panel data model</a></p>


</div>
<h3 class='call-group-header-body' id='record_lab_result'>Lab Result</h3>
<div class='call-group-body'>
<ul class='call-body' id='get_lab_result'>
<li>URI: <code> GET/records/{record_id}/lab_results/{lab_result_id} </code></li>
<li>Client method name: <code> get_lab_result </code></li>
</ul>
<p> Get one Lab Result for a patient </p>

<ul class='call-body' id='get_lab_results'>
<li>URI: <code> GET/records/{record_id}/lab_results/ </code></li>
<li>Client method name: <code> get_lab_results </code></li>
</ul>
<p> Get all Lab Results for a patient </p>

<p><a href='/framework/models/#Lab_Result'>Lab Result data model</a></p>


</div>
<h3 class='call-group-header-body' id='record_medication'>Medication</h3>
<div class='call-group-body'>
<ul class='call-body' id='get_medication'>
<li>URI: <code> GET/records/{record_id}/medications/{medication_id} </code></li>
<li>Client method name: <code> get_medication </code></li>
</ul>
<p> Get one Medication for a patient </p>

<ul class='call-body' id='get_medications'>
<li>URI: <code> GET/records/{record_id}/medications/ </code></li>
<li>Client method name: <code> get_medications </code></li>
</ul>
<p> Get all Medications for a patient </p>

<p><a href='/framework/models/#Medication'>Medication data model</a></p>


</div>
<h3 class='call-group-header-body' id='record_photograph'>Photograph</h3>
<div class='call-group-body'>
<ul class='call-body' id='get_photograph'>
<li>URI: <code> GET/records/{record_id}/photograph </code></li>
<li>Client method name: <code> get_photograph </code></li>
</ul>
<p> Get one Photograph for a patient </p>

<p><a href='/framework/models/#Photograph'>Photograph data model</a></p>


</div>
<h3 class='call-group-header-body' id='record_problem'>Problem</h3>
<div class='call-group-body'>
<ul class='call-body' id='get_problems'>
<li>URI: <code> GET/records/{record_id}/problems/ </code></li>
<li>Client method name: <code> get_problems </code></li>
</ul>
<p> Get all Problems for a patient </p>

<ul class='call-body' id='get_problem'>
<li>URI: <code> GET/records/{record_id}/problems/{problem_id} </code></li>
<li>Client method name: <code> get_problem </code></li>
</ul>
<p> Get one Problem for a patient </p>

<p><a href='/framework/models/#Problem'>Problem data model</a></p>


</div>
<h3 class='call-group-header-body' id='record_procedure'>Procedure</h3>
<div class='call-group-body'>
<ul class='call-body' id='get_procedure'>
<li>URI: <code> GET/records/{record_id}/procedures/{procedure_id} </code></li>
<li>Client method name: <code> get_procedure </code></li>
</ul>
<p> Get one Procedure for a patient </p>

<ul class='call-body' id='get_procedures'>
<li>URI: <code> GET/records/{record_id}/procedures/ </code></li>
<li>Client method name: <code> get_procedures </code></li>
</ul>
<p> Get all Procedures for a patient </p>

<p><a href='/framework/models/#Procedure'>Procedure data model</a></p>


</div>
<h3 class='call-group-header-body' id='record_scratchpad_data'>Scratchpad Data</h3>
<div class='call-group-body'>
<ul class='call-body' id='put_scratchpad_data'>
<li>URI: <code> PUT/records/{record_id}/apps/{smart_app_id}/scratchpad </code></li>
<li>Client method name: <code> put_scratchpad_data </code></li>
</ul>
<p> Stores scratchpad data in the patient's account in the SMART container scoped to the current app. The HTTP request body represents the unicode-encoded data blob. The app chooses the best format for the data that makes sense for its use case (it is unstructured from SMART's perspective). If the data save was successful, the SMART server will respond with an HTTP 200 code and include the stored data in the response body. It is the app's responsibility to compare the response with the intended data content. If there are any discrepancies, then a concurrency problem occured while writing the data and the app should request a fresh copy of the scratchpad data stored on the server, merge it with its local copy and attempt writing it again. </p>

<ul class='call-body' id='delete_scratchpad_data'>
<li>URI: <code> DELETE/records/{record_id}/apps/{smart_app_id}/scratchpad </code></li>
<li>Client method name: <code> delete_scratchpad_data </code></li>
</ul>
<p> Purges the scratchpad data stored in the SMART container for the selected app. If everything goes well, this call will respond with HTTP 200 status code. </p>

<ul class='call-body' id='get_scratchpad_data'>
<li>URI: <code> GET/records/{record_id}/apps/{smart_app_id}/scratchpad </code></li>
<li>Client method name: <code> get_scratchpad_data </code></li>
</ul>
<p> Returns the scratchpad blob unicode data stored in the patient's account by a previous run of the owner app in the response body. An app can ready any other app's scratchpad. If not data is available the call will return an empty string. </p>

<p><a href='/framework/models/#Scratchpad_Data'>Scratchpad Data data model</a></p>


</div>
<h3 class='call-group-header-body' id='record_social_history'>Social History</h3>
<div class='call-group-body'>
<ul class='call-body' id='get_social_history'>
<li>URI: <code> GET/records/{record_id}/social_history </code></li>
<li>Client method name: <code> get_social_history </code></li>
</ul>
<p> Get Social History for a patient </p>

<p><a href='/framework/models/#Social_History'>Social History data model</a></p>


</div>
<h3 class='call-group-header-body' id='record_vital_sign_set'>Vital Sign Set</h3>
<div class='call-group-body'>
<ul class='call-body' id='get_vital_sign_sets'>
<li>URI: <code> GET/records/{record_id}/vital_sign_sets/ </code></li>
<li>Client method name: <code> get_vital_sign_sets </code></li>
</ul>
<p> Get all Vital Sign Sets for a patient </p>

<ul class='call-body' id='get_vital_sign_set'>
<li>URI: <code> GET/records/{record_id}/vital_sign_sets/{vital_sign_set_id} </code></li>
<li>Client method name: <code> get_vital_sign_set </code></li>
</ul>
<p> Get one Vital Sign Set for a patient </p>

<p><a href='/framework/models/#Vital_Sign_Set'>Vital Sign Set data model</a></p>


</div>

<h2 class='call-scope'>User Calls</h2>

<h3 class='call-group-header-body' id='user_user_preferences'>User Preferences</h3>
<div class='call-group-body'>
<ul class='call-body' id='delete_user_preferences'>
<li>URI: <code> DELETE/users/{user_id}/apps/{smart_app_id}/preferences </code></li>
<li>Client method name: <code> delete_user_preferences </code></li>
</ul>
<p> Purges the user preferences stored in the SMART container for the selected app. If everything goes well, this call will respond with HTTP 200 status code. </p>

<ul class='call-body' id='put_user_preferences'>
<li>URI: <code> PUT/users/{user_id}/apps/{smart_app_id}/preferences </code></li>
<li>Client method name: <code> put_user_preferences </code></li>
</ul>
<p> Stores preferences data in the user's account in the SMART container scoped to the current app. The HTTP request body represents the unicode-encoded data blob. The app chooses the best format for the data that makes sense for its use case (it is unstructured from SMART's perspective). If the data save was successful, the SMART server will respond with an HTTP 200 code and include the stored data in the response body. It is the app's responsibility to compare the response with the intended data content. If there are any discrepancies, then a concurrency problem occured while writing the data and the app should request a fresh copy of the preferences data stored on the server, merge it with its local copy and attempt writing it again. </p>

<ul class='call-body' id='get_user_preferences'>
<li>URI: <code> GET/users/{user_id}/apps/{smart_app_id}/preferences </code></li>
<li>Client method name: <code> get_user_preferences </code></li>
</ul>
<p> Returns the preferences blob unicode data stored in the user's account by a previous run of the app in the response body. If not data is available the call will return an empty string. </p>

<p><a href='/framework/models/#User_Preferences'>User Preferences data model</a></p>


</div>
