

<li class='nav-header'>Container Calls</li>


  <li class='call-group-header'><a href='#App_Manifest'>App Manifest</a></li>

    <ul class='call-group hide'>
      <li class='call'><code><a href='#get_app_manifests'>get_app_manifests</a></code></li>
      <li class='call'><code><a href='#get_app_manifest'>get_app_manifest</a></code></li>
    </ul>

  <li class='call-group-header'><a href='#ContainerManifest'>ContainerManifest</a></li>

    <ul class='call-group hide'>
      <li class='call'><code><a href='#get_container_manifest'>get_container_manifest</a></code></li>
    </ul>

  <li class='call-group-header'><a href='#Demographics'>Demographics</a></li>

    <ul class='call-group hide'>
      <li class='call'><code><a href='#search_records'>search_records</a></code></li>
    </ul>

  <li class='call-group-header'><a href='#Ontology'>Ontology</a></li>

    <ul class='call-group hide'>
      <li class='call'><code><a href='#get_ontology'>get_ontology</a></code></li>
    </ul>

  <li class='call-group-header'><a href='#User'>User</a></li>

    <ul class='call-group hide'>
      <li class='call'><code><a href='#get_user'>get_user</a></code></li>
      <li class='call'><code><a href='#search_users'>search_users</a></code></li>
    </ul>


<li class='nav-header'>Record Calls</li>


  <li class='call-group-header'><a href='#Allergy'>Allergy</a></li>

    <ul class='call-group hide'>
      <li class='call'><code><a href='#get_allergy'>get_allergy</a></code></li>
      <li class='call'><code><a href='#get_allergies'>get_allergies</a></code></li>
    </ul>

  <li class='call-group-header'><a href='#Clinical_Note'>Clinical Note</a></li>

    <ul class='call-group hide'>
      <li class='call'><code><a href='#get_clinical_note'>get_clinical_note</a></code></li>
      <li class='call'><code><a href='#get_clinical_notes'>get_clinical_notes</a></code></li>
      <li class='call'><code><a href='#post_clinical_note'>post_clinical_note</a></code></li>
    </ul>

  <li class='call-group-header'><a href='#Demographics'>Demographics</a></li>

    <ul class='call-group hide'>
      <li class='call'><code><a href='#get_demographics'>get_demographics</a></code></li>
    </ul>

  <li class='call-group-header'><a href='#Document'>Document</a></li>

    <ul class='call-group hide'>
      <li class='call'><code><a href='#get_documents'>get_documents</a></code></li>
      <li class='call'><code><a href='#get_document'>get_document</a></code></li>
    </ul>

  <li class='call-group-header'><a href='#Encounter'>Encounter</a></li>

    <ul class='call-group hide'>
      <li class='call'><code><a href='#get_encounters'>get_encounters</a></code></li>
      <li class='call'><code><a href='#get_encounter'>get_encounter</a></code></li>
    </ul>

  <li class='call-group-header'><a href='#Family_History_Observation'>Family History Observation</a></li>

    <ul class='call-group hide'>
      <li class='call'><code><a href='#get_family_history_observations'>get_family_history_observations</a></code></li>
      <li class='call'><code><a href='#get_family_history_observation'>get_family_history_observation</a></code></li>
    </ul>

  <li class='call-group-header'><a href='#Fulfillment'>Fulfillment</a></li>

    <ul class='call-group hide'>
      <li class='call'><code><a href='#get_fulfillments'>get_fulfillments</a></code></li>
      <li class='call'><code><a href='#get_fulfillment'>get_fulfillment</a></code></li>
    </ul>

  <li class='call-group-header'><a href='#Immunization'>Immunization</a></li>

    <ul class='call-group hide'>
      <li class='call'><code><a href='#get_immunizations'>get_immunizations</a></code></li>
      <li class='call'><code><a href='#get_immunization'>get_immunization</a></code></li>
    </ul>

  <li class='call-group-header'><a href='#Lab_Panel'>Lab Panel</a></li>

    <ul class='call-group hide'>
      <li class='call'><code><a href='#get_lab_panels'>get_lab_panels</a></code></li>
      <li class='call'><code><a href='#get_lab_panel'>get_lab_panel</a></code></li>
    </ul>

  <li class='call-group-header'><a href='#Lab_Result'>Lab Result</a></li>

    <ul class='call-group hide'>
      <li class='call'><code><a href='#get_lab_results'>get_lab_results</a></code></li>
      <li class='call'><code><a href='#get_lab_result'>get_lab_result</a></code></li>
    </ul>

  <li class='call-group-header'><a href='#Medication'>Medication</a></li>

    <ul class='call-group hide'>
      <li class='call'><code><a href='#get_medication'>get_medication</a></code></li>
      <li class='call'><code><a href='#get_medications'>get_medications</a></code></li>
    </ul>

  <li class='call-group-header'><a href='#Photograph'>Photograph</a></li>

    <ul class='call-group hide'>
      <li class='call'><code><a href='#get_photograph'>get_photograph</a></code></li>
    </ul>

  <li class='call-group-header'><a href='#Problem'>Problem</a></li>

    <ul class='call-group hide'>
      <li class='call'><code><a href='#get_problem'>get_problem</a></code></li>
      <li class='call'><code><a href='#get_problems'>get_problems</a></code></li>
    </ul>

  <li class='call-group-header'><a href='#Procedure'>Procedure</a></li>

    <ul class='call-group hide'>
      <li class='call'><code><a href='#get_procedure'>get_procedure</a></code></li>
      <li class='call'><code><a href='#get_procedures'>get_procedures</a></code></li>
    </ul>

  <li class='call-group-header'><a href='#Scratchpad_Data'>Scratchpad Data</a></li>

    <ul class='call-group hide'>
      <li class='call'><code><a href='#get_scratchpad_data'>get_scratchpad_data</a></code></li>
      <li class='call'><code><a href='#delete_scratchpad_data'>delete_scratchpad_data</a></code></li>
      <li class='call'><code><a href='#put_scratchpad_data'>put_scratchpad_data</a></code></li>
    </ul>

  <li class='call-group-header'><a href='#Social_History'>Social History</a></li>

    <ul class='call-group hide'>
      <li class='call'><code><a href='#get_social_history'>get_social_history</a></code></li>
    </ul>

  <li class='call-group-header'><a href='#Vital_Sign_Set'>Vital Sign Set</a></li>

    <ul class='call-group hide'>
      <li class='call'><code><a href='#get_vital_sign_sets'>get_vital_sign_sets</a></code></li>
      <li class='call'><code><a href='#get_vital_sign_set'>get_vital_sign_set</a></code></li>
    </ul>


<li class='nav-header'>User Calls</li>


  <li class='call-group-header'><a href='#User_Preferences'>User Preferences</a></li>

    <ul class='call-group hide'>
      <li class='call'><code><a href='#delete_user_preferences'>delete_user_preferences</a></code></li>
      <li class='call'><code><a href='#put_user_preferences'>put_user_preferences</a></code></li>
      <li class='call'><code><a href='#get_user_preferences'>get_user_preferences</a></code></li>
    </ul>
