<div class='format_tabs_top'>
  <ul class="nav nav-tabs" data-tabs="tabs">
    <li style="margin-left: 0px;">Show examples in</li>
    <li class="rdf_xml_li active"><a href="#rdf_xml" data-toggle="tab" data-target='.rdf_xml'>RDF/XML</a></li>
    <li class="n_triples_li"><a href="#n_triples" data-toggle="tab" data-target='.n_triples'>N-Triples</a></li>
    <li class="turtle_li"><a href="#turtle" data-toggle="tab" data-target='.turtle'>Turtle</a></li>
    <li class="json_ld_li"><a href="#json_ld" data-toggle="tab" data-target='.json_ld'>JSON-LD</a></li>
  </ul>
</div>
