<div class='format_tabs'>
  <ul class="nav nav-tabs" data-tabs="tabs">
    <li style="margin-left: 0px;">Show example in</li>
    <li class="active"><a href="" data-target=".closest(div[id]).children('.rdf_xml')" data-toggle="tab">RDF/XML</a></li>
    <li class="">      <a href="" data-target=".closest(div[id]).children('.n_triples')" data-toggle="tab">N-Triples</a></li>
    <li class="">      <a href="" data-target=".closest(div[id]).children('.turtle')" data-toggle="tab">Turtle</a></li>
    <li class="">      <a href="" data-target=".closest(div[id]).children('.json_ld')" data-toggle="tab">JSON-LD</a></li>
  </ul>
</div>