
<li class='nav-header'>Framework Overview</li>

<li class='nav-type'><a href='/framework/architecture/'>Architecture Basics</a></li>


<li class='nav-header'>Framework Details</li>

<li class='nav-type'><a href='/framework/oauth/'>OAuth</a></li>

<li class='nav-type'><a href='/framework/data-best-practices.html'>Data Best Practices</a></li>

<li class='nav-type'><a href='/framework/filters-and-pages.html'>Query Filtering &amp; Pagination</a></li>

<li class='nav-type'><a href='/framework/manifests/'>Manifest Files</a></li>


<li class='nav-header'>Reference Container</li>

<li class='nav-type'><a href='/framework/reference-implementation/architecture.html'>Overview</a></li>

<li class='nav-type'><a href='/framework/reference-implementation/vm.html'>Pre-built VM</a></li>

<li class='nav-type'><a href='/framework/reference-implementation/install-ubuntu.html'>Installing on Ubuntu</a></li>

<li class='nav-type'><a href='/framework/reference-implementation/install-osx.html'>Installing on OS X</a></li>


<li class='nav-header'>Client Libraries</li>

<li class='nav-type'><a href='/framework/reference-implementation/client-js.html'>JavaScript</a></li>

<li class='nav-type'><a href='/framework/reference-implementation/client-python.html'>Python</a></li>

<li class='nav-type'><a href='/framework/reference-implementation/client-ios.html'>iOS</a></li>

<li class='nav-type'><a href='/framework/reference-implementation/client-java.html'>Java</a></li>

<li class='nav-type'><a href='/framework/reference-implementation/client-dotnet.html'>.NET</a></li>


<li class='nav-header'>Technical Backgrounders</li>

<li class='nav-type'><a href='/framework/manifests/'>todo</a></li>

