
<li class='nav-header'>Clinical Statement Types</li>


<li class='nav-type'><a href='#Allergy'><code>Allergy</code></a></li>

<li class='nav-type'><a href='#Allergy_Exclusion'><code>Allergy Exclusion</code></a></li>

<li class='nav-type'><a href='#Clinical_Note'><code>Clinical Note</code></a></li>

<li class='nav-type'><a href='#Demographics'><code>Demographics</code></a></li>

<li class='nav-type'><a href='#Document'><code>Document</code></a></li>

<li class='nav-type'><a href='#Encounter'><code>Encounter</code></a></li>

<li class='nav-type'><a href='#Family_History_Observation'><code>Family History Observation</code></a></li>

<li class='nav-type'><a href='#Fulfillment'><code>Fulfillment</code></a></li>

<li class='nav-type'><a href='#Immunization'><code>Immunization</code></a></li>

<li class='nav-type'><a href='#Lab_Panel'><code>Lab Panel</code></a></li>

<li class='nav-type'><a href='#Lab_Result'><code>Lab Result</code></a></li>

<li class='nav-type'><a href='#Medication'><code>Medication</code></a></li>

<li class='nav-type'><a href='#Panel'><code>Panel</code></a></li>

<li class='nav-type'><a href='#Photograph'><code>Photograph</code></a></li>

<li class='nav-type'><a href='#Problem'><code>Problem</code></a></li>

<li class='nav-type'><a href='#Procedure'><code>Procedure</code></a></li>

<li class='nav-type'><a href='#SMART_Statement'><code>SMART Statement</code></a></li>

<li class='nav-type'><a href='#Scratchpad_Data'><code>Scratchpad Data</code></a></li>

<li class='nav-type'><a href='#Social_History'><code>Social History</code></a></li>

<li class='nav-type'><a href='#Vital_Sign_Set'><code>Vital Sign Set</code></a></li>

<li class='nav-header'>Component Types</li>


<li class='nav-type'><a href='#Address'><code>Address</code></a></li>

<li class='nav-type'><a href='#Attribution'><code>Attribution</code></a></li>

<li class='nav-type'><a href='#BloodPressure'><code>BloodPressure</code></a></li>

<li class='nav-type'><a href='#Code'><code>Code</code></a></li>

<li class='nav-type'><a href='#CodeProvenance'><code>CodeProvenance</code></a></li>

<li class='nav-type'><a href='#Coded_Value'><code>Coded Value</code></a></li>

<li class='nav-type'><a href='#Content'><code>Content</code></a></li>

<li class='nav-type'><a href='#DataType'><code>DataType</code></a></li>

<li class='nav-type'><a href='#Hash'><code>Hash</code></a></li>

<li class='nav-type'><a href='#MediaTypeOrExtent'><code>MediaTypeOrExtent</code></a></li>

<li class='nav-type'><a href='#Name'><code>Name</code></a></li>

<li class='nav-type'><a href='#NarrativeResult'><code>NarrativeResult</code></a></li>

<li class='nav-type'><a href='#Organization'><code>Organization</code></a></li>

<li class='nav-type'><a href='#Participant'><code>Participant</code></a></li>

<li class='nav-type'><a href='#Person'><code>Person</code></a></li>

<li class='nav-type'><a href='#Pharmacy'><code>Pharmacy</code></a></li>

<li class='nav-type'><a href='#Provider'><code>Provider</code></a></li>

<li class='nav-type'><a href='#QuantitativeResult'><code>QuantitativeResult</code></a></li>

<li class='nav-type'><a href='#Resource'><code>Resource</code></a></li>

<li class='nav-type'><a href='#Tel'><code>Tel</code></a></li>

<li class='nav-type'><a href='#VCard'><code>VCard</code></a></li>

<li class='nav-type'><a href='#ValueAndUnit'><code>ValueAndUnit</code></a></li>

<li class='nav-type'><a href='#ValueRange'><code>ValueRange</code></a></li>

<li class='nav-type'><a href='#ValueRatio'><code>ValueRatio</code></a></li>

<li class='nav-type'><a href='#VitalSign'><code>VitalSign</code></a></li>

<li class='nav-header'>Container-level Types</li>


<li class='nav-type'><a href='#App_Manifest'><code>App Manifest</code></a></li>

<li class='nav-type'><a href='#ContainerManifest'><code>ContainerManifest</code></a></li>

<li class='nav-type'><a href='#Ontology'><code>Ontology</code></a></li>

<li class='nav-type'><a href='#User'><code>User</code></a></li>

<li class='nav-type'><a href='#User_Preferences'><code>User Preferences</code></a></li>

<li class='nav-header'>Data code Types</li>


<li class='nav-type'><a href='#AllergyCategory_code'><code>AllergyCategory code</code></a></li>

<li class='nav-type'><a href='#AllergyExclusion_code'><code>AllergyExclusion code</code></a></li>

<li class='nav-type'><a href='#AllergySeverity_code'><code>AllergySeverity code</code></a></li>

<li class='nav-type'><a href='#BloodPressureBodyPosition_code'><code>BloodPressureBodyPosition code</code></a></li>

<li class='nav-type'><a href='#BloodPressureBodySite_code'><code>BloodPressureBodySite code</code></a></li>

<li class='nav-type'><a href='#BloodPressureMethod_code'><code>BloodPressureMethod code</code></a></li>

<li class='nav-type'><a href='#DocumentType_code'><code>DocumentType code</code></a></li>

<li class='nav-type'><a href='#EncounterType_code'><code>EncounterType code</code></a></li>

<li class='nav-type'><a href='#ImmunizationAdministrationStatus_code'><code>ImmunizationAdministrationStatus code</code></a></li>

<li class='nav-type'><a href='#ImmunizationClass_code'><code>ImmunizationClass code</code></a></li>

<li class='nav-type'><a href='#ImmunizationProduct_code'><code>ImmunizationProduct code</code></a></li>

<li class='nav-type'><a href='#ImmunizationRefusalReason_code'><code>ImmunizationRefusalReason code</code></a></li>

<li class='nav-type'><a href='#LOINC_code'><code>LOINC code</code></a></li>

<li class='nav-type'><a href='#LabResultInterpretation_code'><code>LabResultInterpretation code</code></a></li>

<li class='nav-type'><a href='#LabResultStatus_code'><code>LabResultStatus code</code></a></li>

<li class='nav-type'><a href='#MedicalRecordNumber_code'><code>MedicalRecordNumber code</code></a></li>

<li class='nav-type'><a href='#NDFRT_code'><code>NDFRT code</code></a></li>

<li class='nav-type'><a href='#ProblemStatus_code'><code>ProblemStatus code</code></a></li>

<li class='nav-type'><a href='#Procedure_code'><code>Procedure code</code></a></li>

<li class='nav-type'><a href='#ProcedureStatus_code'><code>ProcedureStatus code</code></a></li>

<li class='nav-type'><a href='#RxNorm_code'><code>RxNorm code</code></a></li>

<li class='nav-type'><a href='#RxNorm_Ingredient_code'><code>RxNorm_Ingredient code</code></a></li>

<li class='nav-type'><a href='#RxNorm_Semantic_code'><code>RxNorm_Semantic code</code></a></li>

<li class='nav-type'><a href='#SNOMED_code'><code>SNOMED code</code></a></li>

<li class='nav-type'><a href='#SmokingStatus_code'><code>SmokingStatus code</code></a></li>

<li class='nav-type'><a href='#TranslationFidelity_code'><code>TranslationFidelity code</code></a></li>

<li class='nav-type'><a href='#UNII_code'><code>UNII code</code></a></li>

<li class='nav-type'><a href='#VitalSign_code'><code>VitalSign code</code></a></li>
