
<li class='nav-header'>Clinical Statement Types</li>


<li class='nav-type'><a href='#Allergy'>Allergy</a></li>

<li class='nav-type'><a href='#Allergy_Exclusion'>Allergy Exclusion</a></li>

<li class='nav-type'><a href='#Clinical_Note'>Clinical Note</a></li>

<li class='nav-type'><a href='#Demographics'>Demographics</a></li>

<li class='nav-type'><a href='#Document'>Document</a></li>

<li class='nav-type'><a href='#Encounter'>Encounter</a></li>

<li class='nav-type'><a href='#Family_History_Observation'>Family History Observation</a></li>

<li class='nav-type'><a href='#Fulfillment'>Fulfillment</a></li>

<li class='nav-type'><a href='#Imaging_Study'>Imaging Study</a></li>

<li class='nav-type'><a href='#Immunization'>Immunization</a></li>

<li class='nav-type'><a href='#Lab_Panel'>Lab Panel</a></li>

<li class='nav-type'><a href='#Lab_Result'>Lab Result</a></li>

<li class='nav-type'><a href='#MedicalImage'>MedicalImage</a></li>

<li class='nav-type'><a href='#Medication'>Medication</a></li>

<li class='nav-type'><a href='#Panel'>Panel</a></li>

<li class='nav-type'><a href='#Photograph'>Photograph</a></li>

<li class='nav-type'><a href='#Problem'>Problem</a></li>

<li class='nav-type'><a href='#Procedure'>Procedure</a></li>

<li class='nav-type'><a href='#SMART_Statement'>SMART Statement</a></li>

<li class='nav-type'><a href='#Scratchpad_Data'>Scratchpad Data</a></li>

<li class='nav-type'><a href='#Social_History'>Social History</a></li>

<li class='nav-type'><a href='#Vital_Sign_Set'>Vital Sign Set</a></li>

<li class='nav-header'>Component Types</li>


<li class='nav-type'><a href='#Address'>Address</a></li>

<li class='nav-type'><a href='#Attribution'>Attribution</a></li>

<li class='nav-type'><a href='#BloodPressure'>BloodPressure</a></li>

<li class='nav-type'><a href='#Code'>Code</a></li>

<li class='nav-type'><a href='#CodeProvenance'>CodeProvenance</a></li>

<li class='nav-type'><a href='#Coded_Value'>Coded Value</a></li>

<li class='nav-type'><a href='#Content'>Content</a></li>

<li class='nav-type'><a href='#DataType'>DataType</a></li>

<li class='nav-type'><a href='#Hash'>Hash</a></li>

<li class='nav-type'><a href='#MediaTypeOrExtent'>MediaTypeOrExtent</a></li>

<li class='nav-type'><a href='#Name'>Name</a></li>

<li class='nav-type'><a href='#NarrativeResult'>NarrativeResult</a></li>

<li class='nav-type'><a href='#Organization'>Organization</a></li>

<li class='nav-type'><a href='#Participant'>Participant</a></li>

<li class='nav-type'><a href='#Person'>Person</a></li>

<li class='nav-type'><a href='#Pharmacy'>Pharmacy</a></li>

<li class='nav-type'><a href='#Provider'>Provider</a></li>

<li class='nav-type'><a href='#QuantitativeResult'>QuantitativeResult</a></li>

<li class='nav-type'><a href='#Resource'>Resource</a></li>

<li class='nav-type'><a href='#Series'>Series</a></li>

<li class='nav-type'><a href='#Tel'>Tel</a></li>

<li class='nav-type'><a href='#VCard'>VCard</a></li>

<li class='nav-type'><a href='#ValueAndUnit'>ValueAndUnit</a></li>

<li class='nav-type'><a href='#ValueRange'>ValueRange</a></li>

<li class='nav-type'><a href='#ValueRatio'>ValueRatio</a></li>

<li class='nav-type'><a href='#VitalSign'>VitalSign</a></li>

<li class='nav-header'>Container-level Types</li>


<li class='nav-type'><a href='#App_Manifest'>App Manifest</a></li>

<li class='nav-type'><a href='#ContainerManifest'>ContainerManifest</a></li>

<li class='nav-type'><a href='#Ontology'>Ontology</a></li>

<li class='nav-type'><a href='#User'>User</a></li>

<li class='nav-type'><a href='#User_Preferences'>User Preferences</a></li>

<li class='nav-header'>Data code Types</li>


<li class='nav-type'><a href='#AllergyCategory_code'>AllergyCategory code</a></li>

<li class='nav-type'><a href='#AllergyExclusion_code'>AllergyExclusion code</a></li>

<li class='nav-type'><a href='#AllergySeverity_code'>AllergySeverity code</a></li>

<li class='nav-type'><a href='#BloodPressureBodyPosition_code'>BloodPressureBodyPosition code</a></li>

<li class='nav-type'><a href='#BloodPressureBodySite_code'>BloodPressureBodySite code</a></li>

<li class='nav-type'><a href='#BloodPressureMethod_code'>BloodPressureMethod code</a></li>

<li class='nav-type'><a href='#DocumentType_code'>DocumentType code</a></li>

<li class='nav-type'><a href='#EncounterType_code'>EncounterType code</a></li>

<li class='nav-type'><a href='#ImmunizationAdministrationStatus_code'>ImmunizationAdministrationStatus code</a></li>

<li class='nav-type'><a href='#ImmunizationClass_code'>ImmunizationClass code</a></li>

<li class='nav-type'><a href='#ImmunizationProduct_code'>ImmunizationProduct code</a></li>

<li class='nav-type'><a href='#ImmunizationRefusalReason_code'>ImmunizationRefusalReason code</a></li>

<li class='nav-type'><a href='#LOINC_code'>LOINC code</a></li>

<li class='nav-type'><a href='#LabResultInterpretation_code'>LabResultInterpretation code</a></li>

<li class='nav-type'><a href='#LabResultStatus_code'>LabResultStatus code</a></li>

<li class='nav-type'><a href='#MedicalRecordNumber_code'>MedicalRecordNumber code</a></li>

<li class='nav-type'><a href='#ModalityType_code'>ModalityType code</a></li>

<li class='nav-type'><a href='#NDFRT_code'>NDFRT code</a></li>

<li class='nav-type'><a href='#ProblemStatus_code'>ProblemStatus code</a></li>

<li class='nav-type'><a href='#Procedure_code'>Procedure code</a></li>

<li class='nav-type'><a href='#ProcedureStatus_code'>ProcedureStatus code</a></li>

<li class='nav-type'><a href='#RxNorm_code'>RxNorm code</a></li>

<li class='nav-type'><a href='#RxNorm_Ingredient_code'>RxNorm_Ingredient code</a></li>

<li class='nav-type'><a href='#RxNorm_Semantic_code'>RxNorm_Semantic code</a></li>

<li class='nav-type'><a href='#SNOMED_code'>SNOMED code</a></li>

<li class='nav-type'><a href='#SmokingStatus_code'>SmokingStatus code</a></li>

<li class='nav-type'><a href='#TranslationFidelity_code'>TranslationFidelity code</a></li>

<li class='nav-type'><a href='#UNII_code'>UNII code</a></li>

<li class='nav-type'><a href='#VitalSign_code'>VitalSign code</a></li>
