
<li class='nav-header'>Clinical Statement Types</li>


<li class='nav-type'><code><a href='#Allergy'>Allergy</a></code></li>


<li class='nav-type'><code><a href='#Allergy_Exclusion'>Allergy Exclusion</a></code></li>


<li class='nav-type'><code><a href='#Clinical_Note'>Clinical Note</a></code></li>


<li class='nav-type'><code><a href='#Demographics'>Demographics</a></code></li>


<li class='nav-type'><code><a href='#Document'>Document</a></code></li>


<li class='nav-type'><code><a href='#Encounter'>Encounter</a></code></li>


<li class='nav-type'><code><a href='#Family_History_Observation'>Family History Observation</a></code></li>


<li class='nav-type'><code><a href='#Fulfillment'>Fulfillment</a></code></li>


<li class='nav-type'><code><a href='#Immunization'>Immunization</a></code></li>


<li class='nav-type'><code><a href='#Lab_Panel'>Lab Panel</a></code></li>


<li class='nav-type'><code><a href='#Lab_Result'>Lab Result</a></code></li>


<li class='nav-type'><code><a href='#Medication'>Medication</a></code></li>


<li class='nav-type'><code><a href='#Panel'>Panel</a></code></li>


<li class='nav-type'><code><a href='#Photograph'>Photograph</a></code></li>


<li class='nav-type'><code><a href='#Problem'>Problem</a></code></li>


<li class='nav-type'><code><a href='#Procedure'>Procedure</a></code></li>


<li class='nav-type'><code><a href='#SMART_Statement'>SMART Statement</a></code></li>


<li class='nav-type'><code><a href='#Scratchpad_Data'>Scratchpad Data</a></code></li>


<li class='nav-type'><code><a href='#Social_History'>Social History</a></code></li>


<li class='nav-type'><code><a href='#Vital_Sign_Set'>Vital Sign Set</a></code></li>


<li class='nav-header'>Component Types</li>


<li class='nav-type'><code><a href='#Address'>Address</a></code></li>


<li class='nav-type'><code><a href='#Attribution'>Attribution</a></code></li>


<li class='nav-type'><code><a href='#BloodPressure'>BloodPressure</a></code></li>


<li class='nav-type'><code><a href='#Code'>Code</a></code></li>


<li class='nav-type'><code><a href='#CodeProvenance'>CodeProvenance</a></code></li>


<li class='nav-type'><code><a href='#Coded_Value'>Coded Value</a></code></li>


<li class='nav-type'><code><a href='#Content'>Content</a></code></li>


<li class='nav-type'><code><a href='#DataType'>DataType</a></code></li>


<li class='nav-type'><code><a href='#Hash'>Hash</a></code></li>


<li class='nav-type'><code><a href='#MediaTypeOrExtent'>MediaTypeOrExtent</a></code></li>


<li class='nav-type'><code><a href='#Name'>Name</a></code></li>


<li class='nav-type'><code><a href='#NarrativeResult'>NarrativeResult</a></code></li>


<li class='nav-type'><code><a href='#Organization'>Organization</a></code></li>


<li class='nav-type'><code><a href='#Participant'>Participant</a></code></li>


<li class='nav-type'><code><a href='#Person'>Person</a></code></li>


<li class='nav-type'><code><a href='#Pharmacy'>Pharmacy</a></code></li>


<li class='nav-type'><code><a href='#Provider'>Provider</a></code></li>


<li class='nav-type'><code><a href='#QuantitativeResult'>QuantitativeResult</a></code></li>


<li class='nav-type'><code><a href='#Resource'>Resource</a></code></li>


<li class='nav-type'><code><a href='#Tel'>Tel</a></code></li>


<li class='nav-type'><code><a href='#VCard'>VCard</a></code></li>


<li class='nav-type'><code><a href='#ValueAndUnit'>ValueAndUnit</a></code></li>


<li class='nav-type'><code><a href='#ValueRange'>ValueRange</a></code></li>


<li class='nav-type'><code><a href='#ValueRatio'>ValueRatio</a></code></li>


<li class='nav-type'><code><a href='#VitalSign'>VitalSign</a></code></li>


<li class='nav-header'>Container-level Types</li>


<li class='nav-type'><code><a href='#App_Manifest'>App Manifest</a></code></li>


<li class='nav-type'><code><a href='#ContainerManifest'>ContainerManifest</a></code></li>


<li class='nav-type'><code><a href='#Ontology'>Ontology</a></code></li>


<li class='nav-type'><code><a href='#User'>User</a></code></li>


<li class='nav-type'><code><a href='#User_Preferences'>User Preferences</a></code></li>


<li class='nav-header'>Data code Types</li>


<li class='nav-type'><code><a href='#AllergyCategory_code'>AllergyCategory code</a></code></li>


<li class='nav-type'><code><a href='#AllergyExclusion_code'>AllergyExclusion code</a></code></li>


<li class='nav-type'><code><a href='#AllergySeverity_code'>AllergySeverity code</a></code></li>


<li class='nav-type'><code><a href='#BloodPressureBodyPosition_code'>BloodPressureBodyPosition code</a></code></li>


<li class='nav-type'><code><a href='#BloodPressureBodySite_code'>BloodPressureBodySite code</a></code></li>


<li class='nav-type'><code><a href='#BloodPressureMethod_code'>BloodPressureMethod code</a></code></li>


<li class='nav-type'><code><a href='#DocumentType_code'>DocumentType code</a></code></li>


<li class='nav-type'><code><a href='#EncounterType_code'>EncounterType code</a></code></li>


<li class='nav-type'><code><a href='#ImmunizationAdministrationStatus_code'>ImmunizationAdministrationStatus code</a></code></li>


<li class='nav-type'><code><a href='#ImmunizationClass_code'>ImmunizationClass code</a></code></li>


<li class='nav-type'><code><a href='#ImmunizationProduct_code'>ImmunizationProduct code</a></code></li>


<li class='nav-type'><code><a href='#ImmunizationRefusalReason_code'>ImmunizationRefusalReason code</a></code></li>


<li class='nav-type'><code><a href='#LOINC_code'>LOINC code</a></code></li>


<li class='nav-type'><code><a href='#LabResultInterpretation_code'>LabResultInterpretation code</a></code></li>


<li class='nav-type'><code><a href='#LabResultStatus_code'>LabResultStatus code</a></code></li>


<li class='nav-type'><code><a href='#MedicalRecordNumber_code'>MedicalRecordNumber code</a></code></li>


<li class='nav-type'><code><a href='#NDFRT_code'>NDFRT code</a></code></li>


<li class='nav-type'><code><a href='#ProblemStatus_code'>ProblemStatus code</a></code></li>


<li class='nav-type'><code><a href='#Procedure_code'>Procedure code</a></code></li>


<li class='nav-type'><code><a href='#ProcedureStatus_code'>ProcedureStatus code</a></code></li>


<li class='nav-type'><code><a href='#RxNorm_code'>RxNorm code</a></code></li>


<li class='nav-type'><code><a href='#RxNorm_Ingredient_code'>RxNorm_Ingredient code</a></code></li>


<li class='nav-type'><code><a href='#RxNorm_Semantic_code'>RxNorm_Semantic code</a></code></li>


<li class='nav-type'><code><a href='#SNOMED_code'>SNOMED code</a></code></li>


<li class='nav-type'><code><a href='#SmokingStatus_code'>SmokingStatus code</a></code></li>


<li class='nav-type'><code><a href='#TranslationFidelity_code'>TranslationFidelity code</a></code></li>


<li class='nav-type'><code><a href='#UNII_code'>UNII code</a></code></li>


<li class='nav-type'><code><a href='#VitalSign_code'>VitalSign code</a></code></li>

