<div id="left_nav">
  <ul class="nav nav-list">

    <li class="nav-header">Getting Started Guide (App Development)</li>

    <li><a href="{{BASE_PATH}}/guide/about.html">About This Guide</a></li>
    <li><a href="{{BASE_PATH}}/guide/setup.html">Setup</a></li>
    <li><a href="{{BASE_PATH}}/guide/quickstart.html">Quickstart Example</a></li>
    <li><a href="{{BASE_PATH}}/guide/tutorials/">Extended Tutorials</a></li>
    <li><a href="{{BASE_PATH}}/guide/nextsteps.html">Where to Go Next</a></li>

    <li class="nav-header">Framework Documentation</li>

    <li><a href="{{BASE_PATH}}/framework/architecture/">Architecture</a></li>
    <li><a href="{{BASE_PATH}}/framework/models/">Data Models Reference</a></li>
    <li><a href="{{BASE_PATH}}/framework/api/">API Reference</a></li>
    <li><a href="{{BASE_PATH}}/framework/manifests/">Manifests</a></li>
    <li><a href="{{BASE_PATH}}/framework/reference-implementation/">Reference Implementation</a></li>

    <li class="nav-header">Container Development</li>

    <li><a href="{{BASE_PATH}}/container/roadmap.html">Roadmap for Development</a></li>
    <li><a href="{{BASE_PATH}}/container/tutorial.html">Sample Container - Tutorial</a></li>
    <li><a href="{{BASE_PATH}}/container/reference-container.html">Overview of SMART Reference Container</a></li>
    <li><a href="{{BASE_PATH}}/container/examples.html">Examples of Other Containers</a></li>
    <li><a href="{{BASE_PATH}}/container/issues.html">Discussion of issues</a></li>

    <li class="nav-header"><a href="{{BASE_PATH}}/community.html">Community</li>
    <li class="nav-header"><a href="{{BASE_PATH}}/faq.html">FAQ</li>

  </ul>
</div>
