<div id="left_nav">
  <ul class="nav nav-list">
    <li class="nav-header">Tutorials</li>
    <li><a href="{{BASE_PATH}}/howto/build_a_smart_app">Build a SMART App</a></li>
    <li><a href="{{BASE_PATH}}/howto/build_a_rest_app">Build a SMART REST App</a></li>
    <li><a href="{{BASE_PATH}}/howto/build_smart_frame_ui_apps">Frame UI Apps</a></li>
    <li><a href="{{BASE_PATH}}/howto/got_statins">Got Statins? App</a></li>

    <li class="nav-header">Using SMART Data</li>

    <li><a href="{{BASE_PATH}}/howto/intro_to_rdf">Intro to RDF and SPARQL</a></li>
    <li><a href="{{BASE_PATH}}/howto/sparql_examples">SPARQL Examples for SMART</a></li>
    <li><a href="{{BASE_PATH}}/howto/intro_to_jsonld">Intro to the JSON-LD API</a></li>
    <li><a href="{{BASE_PATH}}/howto/filters">Query Filtering and Pagination</a></li>
    <li><a href="{{BASE_PATH}}/howto/deferred">$.Deferred for Parallel Queries</a></li>
    <li><a href="{{BASE_PATH}}/howto/smart_data">SMART Data: Best Practices</a></li>

    <li class="nav-header">Reference</li>

    <li><a href="{{BASE_PATH}}/reference/data_model">Data Model</a></li>
    <li><a href="{{BASE_PATH}}/reference/rest_api">REST API</a></li>
    <li><a href="{{BASE_PATH}}/reference/filters">Query Filters</a></li>
    <li><a href="{{BASE_PATH}}/reference/app_manifest">App Manifest</a></li>
    <li><a href="{{BASE_PATH}}/reference/oauth">OAuth</a></li>
    <li><a href="{{BASE_PATH}}/reference/preferences_scratchpad">Preferences and Scratchpad APIs</a></li>

    <li class="nav-header">Client Libraries</li>

    <li><a href="{{BASE_PATH}}/libraries/javascript">Javascript (SMART Connect)</a></li>
    <li><a href="{{BASE_PATH}}/libraries/python">Python</a></li>
    <li><a href="https://github.com/chb/SMARTFramework-ios">iOS</a></li>
    <li><a href="{{BASE_PATH}}/libraries/java">Java</a></li>
    <li><a href="{{BASE_PATH}}/libraries/dotnet">.NET</a></li>
    <li><a href="{{BASE_PATH}}/libraries/container_javascript">Container-side Javascript</a></li>

    <li class="nav-header">SMART Update Guides</li>

    <li><a href="{{BASE_PATH}}/updates/smart_0.6/">0.6 Apps + Containers</a></li>
    <li><a href="{{BASE_PATH}}/updates/smart_0.5/">0.5 Apps + Containers</a></li>
    <li><a href="{{BASE_PATH}}/updates/smart_0.4/app">0.4 Apps</a></li>
    <li><a href="{{BASE_PATH}}/updates/smart_0.4/container">0.4 Containers</a></li>

    <li class="nav-header">Reference EMR Installation</li>

    <li><a href="{{BASE_PATH}}/install/linux">Ubuntu Linux</a></li>
    <li><a href="{{BASE_PATH}}/install/os_x">OS X</a></li>

    <li class="nav-header">Presentations</li>

    <li><a href="http://www.slideshare.net/jmandel/2010-0826smartarchitecture">Architecture (2010-08)</a></li>
    <li><a href="http://www.slideshare.net/jmandel/2010-08-26-smart-governance">Governance (2010-08)</a></li>

    <li class="nav-header">Downloads</li>
    <li><a href="{{BASE_PATH}}/downloads/">Download Source + VM</a></li>
  </ul>
</div>
