<div id="left_nav">
  <ul class="nav nav-list">
    <li class="nav-header">Tutorials</li>
    <li><a href="{{BASE_PATH}}/howto/build_a_smart_app">Build a SMART App</a></li>
    <li><a href="{{BASE_PATH}}/howto/build_a_rest_app">Build a SMART REST App</a></li>
    <li><a href="{{BASE_PATH}}/howto/build_smart_frame_ui_apps">Frame UI Apps</a></li>
    <li><a href="{{BASE_PATH}}/howto/got_statins">Got Statins? App</a></li>

    <li class="nav-header">Using SMART Data</li>

    <li><a href="{{BASE_PATH}}/howto/intro_to_rdf">Intro to RDF and SPARQL</a></li>
    <li><a href="{{BASE_PATH}}/howto/sparql_examples">SPARQL Examples for SMART</a></li>
    <li><a href="{{BASE_PATH}}/howto/intro_to_jsonld">Intro to the JSON-LD API</a></li>
    <li><a href="{{BASE_PATH}}/howto/filters">Query Filtering and Pagination</a></li>
    <li><a href="{{BASE_PATH}}/howto/deferred">$.Deferred for Parallel Queries</a></li>
    <li><a href="{{BASE_PATH}}/howto/smart_data">SMART Data: Best Practices</a></li>
    
    
    <li class="nav-header<a href="{{BASE_PATH}}/community.html">Community</li>
    <li class="nav-header<a href="{{BASE_PATH}}/faq.html">FAQ</li>

  </ul>
</div>
