<div id='ref-topbar' class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">

      <a class="brand" href="/"><img class='smartbug' src='/assets/img/smart-bug.png' /></a>

      <ul class="nav" style='text-transform: uppercase; font-size: 14px'>
        <li id="tn_home"><a href="/classic.html">Home</a></li>

        <li id="tn_framework"><a href="/framework/architecture">Framework</a></li>

        <li id="tn_models"><a href="/framework/models/">Data Models</a></li>
        <li id="tn_api"><a href="/framework/api/">API</a></li>

        <li id="tn_appdev"><a href="/guide/">App Development</a></li>
        <li id="tn_containerdev"><a href="/container/">Container Development</a></li>

        <li id="tn_resources"><a href="/resources.html">Resources</a></li>
      </ul>

    </div>
  </div>
</div>

<div class='red_box'>SMART "Classic" is being transitioned to support-only mode as we continue new development on SMART on FHIR. <a href="http://docs.smartplatforms.org">Click here</a> to see the <span style="font-weight:bold">SMART on FHIR</span> docs.</div>
