<div id='ref-topbar' class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="/"><img class='smartbug' src='/assets/img/smart-bug.png' /></a>
        <div class="nav-collapse collapse">

          <ul class="nav" style='text-transform: uppercase; font-size: 14px'>

            <li><a href="/">Home</a></li>
            <li class="dropdown">
              <a id="drop1"
                 href="#"
                 role="button"
                 class="dropdown-toggle"
                 data-toggle="dropdown">Resources <b class="caret"></b>
              </a>

              <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="/faq.html">frequently asked questions</a>
                </li>
                <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="/community.html">Our Community</a>
                </li>

                <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="http://github.com/chb/">Source on Github</a>
                </li>
              </ul>
            </li>

            <li><a href="/framework/models/">Data Models</a></li>

            <li><a href="/framework/api/">API</a></li>

            <li><a href="/guide/">App Development</a></li>

            <li><a href="/framework/container">Container Development</a></li>

                  </ul>
                </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

