
    <div id='ref-topbar' class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="/"><img class='smartbug' src='/assets/img/smart-bug.png' />
                SMART Documentation
            </a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/framework/architecture/">Architecture</a></li>
              <li><a href="/guide/">App Dev</a></li>
              <li><a href="/framework/models/">Data Models</a></li>
              <li><a href="/framework/api/">API</a></li>
              <li><a href="/container/roadmap.html">Container Dev</a></li>
              <li><a href="http://github.com/chb/">Github</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

