<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/assets/css/smart-docs.css" rel="stylesheet" media="screen">
    <link href="/assets/css/syntax.css" rel="stylesheet">
    <style type="text/css">
        body { padding-top: 60px; }
    </style>
    <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script>
        $(function(){
            // add scrollspy listener
            $('.call-group-header').on('activate', function (e) {
                // hide all the other call groups and show this one
                $('.call-group').not($(e.target).next()).hide();
                $(e.target).next().show();
            })
        })
    </script>
  </head>

  <body data-spy='scroll' data-target='#ref-sidebar' data-offset='80'>

    {% include topnav.html %}

    <div class="container-fluid">
      <div class="row-fluid">
        <div id='ref-sidebar' class="span3">
          <div id='ref-sidebar-inner' class='ref-sidenav well' data-spy='affix'>
            <ul class="nav nav-list">

{% include api_nav.html %}

            </ul>
          </div>
        </div><!--span3-->

        <div class="span9">
          {{ content }}

          <hr>

          {% include api.html %}

        </div><!--span9-->
      </div><!--row-->

      <hr>

      <footer>
        <p>&copy; <a href='http://smartplatforms.org'>SMARTPlatforms.org 2013</p>
      </footer>

    </div><!--/.fluid-container-->
  </body>
</html>

