<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/assets/css/smart-docs.css" rel="stylesheet" media="screen">
    <link href="/assets/css/syntax.css" rel="stylesheet">
    <style type="text/css">
        body { padding-top: 60px; }
        .call-body,
        .call-group-header-body {
            padding-top: 60px;
            margin-top: -60px;
        }
    </style>
    <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script>
        $(function(){
            // set sidebar height
            $('#ref-sidebar-inner').height($(window).height() - 150);

            // add scrollspy listener
            $('.call-group-header').on('activate', function (e) {
                // hide all the other call groups and show this one
                $('.call-group').not($(e.target).next()).hide();
                $(e.target).next().show();
            })
        })
    </script>
  </head>

  <body data-spy='scroll' data-target='#ref-sidebar' data-offset='80'>
    <div id='ref-topbar' class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/"><img class='smartbug' src='/assets/img/smart-bug.png' /></a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="#about">Home</a></li>
              <li><a href="#about">App Dev</a></li>
              <li><a href="#about">Framework Guide</a></li>
              <li><a href="/framework/models/">Data Models</a></li>
              <li class="active"><a href="#about">API</a></li>
              <li><a href="#about">Container Dev</a></li>
              <li><a href="#about">FAQ</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div id='ref-sidebar' class="span3">
          <div id='ref-sidebar-inner' class='ref-sidenav well' data-spy='affix'>
            <ul class="nav nav-list">

{% include api_nav.html %}

            </ul>
          </div>
        </div><!--span3-->

        <div class="span9">
          {{ content }}

          <hr>

          {% include api.html %}

        </div><!--span9-->
      </div><!--row-->

      <hr>

      <footer>
        <p>&copy; <a href='http://smartplatforms.org'>SMARTPlatforms.org 2013</p>
      </footer>

    </div><!--/.fluid-container-->
  </body>
</html>

