<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ site.baseurl }}assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ site.baseurl }}assets/css/syntax.css" rel="stylesheet">
    <link href="{{ site.baseurl }}assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ site.baseurl }}assets/css/smart-docs.css" rel="stylesheet" media="screen">
    <style type="text/css"> body { padding-top: 60px; } </style>
  </head>

  <body data-spy='scroll' data-target='#ref-sidebar' data-offset='80'>

    {% include topnav.html %}

    <div class="container-fluid">
      <div class="row-fluid">
        <div id='ref-sidebar' class="span3">
          <div id='ref-sidebar-inner' class='ref-sidenav well' data-spy='affix'>
            <ul class="nav nav-list">

{% include models_nav.html %}

            </ul>
          </div>
        </div><!--span3-->

        <div class="span9">
          {{ content }}

          <hr>

{% include models.html %}

        </div><!--span9-->
      </div><!--row-->

      <hr>

      <footer>
        <p>&copy; <a href='http://smartplatforms.org'>SMARTPlatforms.org 2013</p>
      </footer>

    </div><!--/.fluid-container-->

    <script src="{{ site.baseurl }}assets/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}assets/js/bootstrap.min.js"></script>
    <script>
        // highlight the <li> in the topbar
        $(function(){
            $('#ref-topbar ul.nav').removeClass('active')
            $('#ref-topbar ul.nav #tn_models').addClass('active')
        });
    </script>
  </body>
</html>

